@{
    ViewData["Title"] = "Product Details Page";
}

<div class="container-fluid">
    <div class="row g-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body card-breadcrumb">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Product Details</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                <li class="breadcrumb-item active">Product Details</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Product image -->
                            <a href="#" class="text-center d-block mb-4">
                                <img src="~/img/shop-img/2.png" class="img-fluid" alt="Product">
                            </a>

                            <div class="d-lg-flex d-none justify-content-center">
                                <a href="#">
                                    <img src="~/img/shop-img/2.png" class="rounded-3 img-fluid border p-2" alt="Product">
                                </a>
                                <a href="#" class="ms-2">
                                    <img src="~/img/shop-img/2.png" class="rounded-3 img-fluid border p-2" alt="Product">
                                </a>
                                <a href="#" class="ms-2">
                                    <img src="~/img/shop-img/2.png" class="rounded-3 img-fluid border p-2" alt="Product">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="card bg-white">
                                <div class="card-body p-md-5">
                                    <form>
                                        <!-- Product title -->
                                        <h3 class="mt-0 font-24">New #BD254 T-shirt</h3>
                                        <p class="mb-1 font-15">Date: 09/10/2023</p>
                                        <p class="font-15">
                                            <span class="text-warning zmdi zmdi-star-outline"></span>
                                            <span class="text-warning zmdi zmdi-star-outline"></span>
                                            <span class="text-warning zmdi zmdi-star-outline"></span>
                                            <span class="text-warning zmdi zmdi-star-outline"></span>
                                            <span class="text-warning zmdi zmdi-star-outline"></span>
                                            <span class="ms-2">(2k Reviews)</span>
                                        </p>

                                        <!-- Product description -->
                                        <div class="mt-4">
                                            <h6 class="font-16">Price:</h6>
                                            <h3 class="text-success"> $160 USD</h3>
                                        </div>

                                        <!-- Quantity -->
                                        <div class="select-pro-desc mt-4">
                                            <h6 class="font-16 mb-3">Quantity :</h6>
                                            <div class="row g-4">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Men's size</label>
                                                        <select data-display="Select" class="w-100" style="display: none;">
                                                            <option selected="">Choose...</option>
                                                            <option value="1">M</option>
                                                            <option value="4">L</option>
                                                            <option value="5">XL</option>
                                                            <option value="6">XXL</option>
                                                        </select><div class="nice-select w-100" tabindex="0"><span class="current">Choose...</span><ul class="list"><li data-value="Choose..." class="option selected">Choose...</li><li data-value="1" class="option">M</li><li data-value="4" class="option">L</li><li data-value="5" class="option">XL</li><li data-value="6" class="option">XXL</li></ul></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label>Choose color</label>
                                                        <select data-display="Select" class="w-100" style="display: none;">
                                                            <option selected="">Choose...</option>
                                                            <option value="1">
                                                                White/Red/Blue
                                                            </option>
                                                            <option value="4">
                                                                Black/Orange/Green
                                                            </option>
                                                            <option value="5">
                                                                Gray/Purple/White
                                                            </option>
                                                        </select><div class="nice-select w-100" tabindex="0">
                                                            <span class="current">Choose...</span><ul class="list">
                                                                <li data-value="Choose..." class="option selected">Choose...</li>
                                                                <li data-value="1" class="option">
                                                                    White/Red/Blue
                                                                </li>
                                                                <li data-value="4" class="option">
                                                                    Black/Orange/Green
                                                                </li>
                                                                <li data-value="5" class="option">
                                                                    Gray/Purple/White
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Quantity</label>
                                                        <select data-display="Select" class="w-100" style="display: none;">
                                                            <option selected="">Choose...</option>
                                                            <option value="1">1</option>
                                                            <option value="4">2</option>
                                                            <option value="5">3</option>
                                                        </select><div class="nice-select w-100" tabindex="0"><span class="current">Choose...</span><ul class="list"><li data-value="Choose..." class="option selected">Choose...</li><li data-value="1" class="option">1</li><li data-value="4" class="option">2</li><li data-value="5" class="option">3</li></ul></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Product information -->
                                        <div class="mt-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6 class="font-16 mb-2">Available Stock:</h6>
                                                    <p class="font-22 mb-0 fw-bold text-danger">
                                                        856
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <h5 class="font-size-14 mb-3">Product description: </h5>
                                            <div class="single-product-desc">
                                                <ul class="nav nav-tabs border-bottom-0" role="tablist">
                                                    <li class="nav-item mb-2" role="presentation">
                                                        <a class="nav-link active" id="desc-tab" data-bs-toggle="tab" href="#desc" role="tab" aria-selected="true">Description</a>
                                                    </li>
                                                    <li class="nav-item mb-2" role="presentation">
                                                        <a class="nav-link" id="specifi-tab" data-bs-toggle="tab" href="#specifi" role="tab" aria-selected="false" tabindex="-1">
                                                            Reviews
                                                            <span class="zmdi zmdi-star-outline"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content border rounded-3 p-4">
                                                    <div class="tab-pane fade active show" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                                                        <div>
                                                            <p>
                                                                Lorem ipsum dolor, sit amet
                                                                consectetur
                                                                adipisicing elit. Corporis illum
                                                                fugiat
                                                                fuga. Adipisci earum reprehenderit
                                                                ex,
                                                                eum exercitationem ad corrupti!
                                                            </p>
                                                            <p>
                                                                To achieve this, it would be
                                                                necessary to
                                                                have uniform grammar, pronunciation
                                                                and
                                                                more common several languages
                                                                coalesce,
                                                                the grammar of the resulting.
                                                            </p>
                                                            <p>
                                                                It will be as simple as occidental in
                                                                fact.
                                                            </p>

                                                            <div class="product-desc--meta">
                                                                <p class="mb-2">
                                                                    <i class="fa fa-circle" aria-hidden="true"></i> New
                                                                    several languages coalesce
                                                                </p>
                                                                <p class="mb-2">
                                                                    <i class="fa fa-circle" aria-hidden="true"></i> To
                                                                    an
                                                                    English person, it will seem
                                                                    like
                                                                    simplified
                                                                </p>
                                                                <p class="mb-0">
                                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                                    These
                                                                    cases are perfectly simple.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="specifi" role="tabpanel" aria-labelledby="specifi-tab">
                                                        <div>
                                                            <div class="d-flex border-bottom pb-3">
                                                                <div class="flex-grow-1">
                                                                    <div class="d-flex">
                                                                        <div class="rev-clint-img">
                                                                            <img src="img/bg-img/per-2.jpg" alt="">
                                                                        </div>
                                                                        <div class="rating-info-meta">
                                                                            <p class="font-15 mb-2">
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                            </p>
                                                                            <p class="text-muted mb-1">
                                                                                It will seem like
                                                                                simplified English,
                                                                                as a eptical
                                                                                Cambridge
                                                                            </p>
                                                                            <h6 class="font-16 mb-4">
                                                                                Ajoy Dash
                                                                            </h6>

                                                                        </div>
                                                                    </div>

                                                                    <ul class="product-review-link mb-0">
                                                                        <li class="list-inline-item">
                                                                            <a href="#">
                                                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                                                Like
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a href="#">
                                                                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                                                Comment
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <p class="date-cu">18 Feb, 2023</p>
                                                            </div>
                                                            <div class="d-flex pt-4">
                                                                <div class="flex-grow-1">
                                                                    <div class="d-flex">
                                                                        <div class="rev-clint-img">
                                                                            <img src="img/bg-img/per-3.jpg" alt="">
                                                                        </div>
                                                                        <div class="rating-info-meta">
                                                                            <p class="font-15 mb-2">
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                                <span class="text-warning zmdi zmdi-star-outline"></span>
                                                                            </p>
                                                                            <p class="text-muted mb-1">
                                                                                It
                                                                                will seem like
                                                                                simplified English,
                                                                                as a
                                                                                skeptical Cambridge
                                                                            </p>
                                                                            <h6 class="font-16 mb-4">
                                                                                Jhon Deo
                                                                            </h6>

                                                                        </div>
                                                                    </div>

                                                                    <ul class="product-review-link mb-0">
                                                                        <li class="list-inline-item">
                                                                            <a href="#">
                                                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                                                Like
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <a href="#">
                                                                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                                                Comment
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <p class="date-cu">11 Feb, 2023</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>